In [2]:
import pandas as pd



df = pd.read_excel('Parametry-III 2025.xlsx')

In [3]:
sheet_names = pd.ExcelFile('Parametry-III 2025.xlsx').sheet_names
print(sheet_names)

['parametry roczne', 'kwartalne wskaźniki waloryzacji', 'e_x  M i K-PROGNOZA', 'e_60 M i K-PROGNOZA', 'e_x  M i K-GUS', 'e_60 M i K-GUS']

In [4]:
df_parametry_roczne = pd.read_excel('Parametry-III 2025.xlsx', sheet_name='parametry roczne')
df_parametry_roczne.head()

,"Parametry roczne do kalkulatora emerytalnego według nowych zasad, do kalkulatora - nauczycielskie świadczenie kompensacyjne oraz do kalkulatora - emerytura pomostowa",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,rok,średnioroczny wskaźnik cen towarów i usług kon...,wskaźnik realnego wzrostu przeciętnego wynagro...,przeciętne miesięczne wynagrodzenie w gospodar...,stopa składki na ubezpieczenie emerytalne fina...,stopa składki na ubezpieczenie emerytalne fina...,stopa składki na ubezpieczenie emerytalne odpr...,stopa składki na ubezpieczenie emerytalne odpr...,łączna stopa składki odprowadzanej do OFE i sk...,wskaźnik waloryzacji składek zewidencjonowanyc...,wskaźnik waloryzacji składek zewidencjonowanyc...,ograniczenie górne miesięcznej podstawy wymiar...,kwota najniższej emerytury obowiązująca od mar...,NaN,NaN
1,2014,1,1.03655,3783.46,0.0976,0.0976,0.0292,0.0438,0.073,1.0206,1.0489,2.5,844.45,2014.0,261.4
2,2015,0.991,1.04011,3899.78,0.0976,0.0976,0.0292,0.0438,0.073,1.0537,1.0437,2.5,880.45,2015.0,259.5
3,2016,0.994,1.04407,4047.21,0.0976,0.0976,0.0292,0.0438,0.073,1.0637,1.0339,2.5,882.56,2016.0,263.2
4,2017,1.02,1.03473,4271.51,0.0976,0.0976,0.0292,0.0438,0.073,1.0868,1.0399,2.5,1000,2017.0,262.2

In [5]:
df_selected = df.iloc[:, [0, 1, 2, 3, 9, 14]]
df_selected.head()

,"Parametry roczne do kalkulatora emerytalnego według nowych zasad, do kalkulatora - nauczycielskie świadczenie kompensacyjne oraz do kalkulatora - emerytura pomostowa",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 9,Unnamed: 14
0,rok,średnioroczny wskaźnik cen towarów i usług kon...,wskaźnik realnego wzrostu przeciętnego wynagro...,przeciętne miesięczne wynagrodzenie w gospodar...,wskaźnik waloryzacji składek zewidencjonowanyc...,NaN
1,2014,1,1.03655,3783.46,1.0206,261.4
2,2015,0.991,1.04011,3899.78,1.0537,259.5
3,2016,0.994,1.04407,4047.21,1.0637,263.2
4,2017,1.02,1.03473,4271.51,1.0868,262.2

In [6]:
# Remove the first row (header-like row)
df_selected_clean = df_selected.iloc[1:].reset_index(drop=True)

# Assign meaningful English column names
df_selected_clean.columns = ['year', 'inflation', 'salary_increase', 'avg_salary', 'v_idx', 'e_60']

# Export to JSON
df_selected_clean.to_json('df_selected_clean.json', orient='records', force_ascii=False)

In [7]:
df_selected_clean

,year,inflation,salary_increase,avg_salary,v_idx,e_60
0,2014,1,1.03655,3783.46,1.0206,261.4
1,2015,0.991,1.04011,3899.78,1.0537,259.5
2,2016,0.994,1.04407,4047.21,1.0637,263.2
3,2017,1.02,1.03473,4271.51,1.0868,262.2
4,2018,1.016,1.05649,4585.03,1.092,260.8
...,...,...,...,...,...,...
88,"*) inflacja w latach 2014-2024 z danych, real...",NaN,NaN,NaN,NaN,NaN
89,**) w latach 2014-2024 - dane z komunikatów ...,NaN,NaN,NaN,NaN,NaN
90,***) Wskaźniki waloryzacji składek zewidencjon...,NaN,NaN,NaN,NaN,NaN
91,****) Wskaźniki waloryzacji składek zewidencjo...,NaN,NaN,NaN,NaN,NaN
92,*****) Kwoty najniższej emerytury:\n - d...,NaN,NaN,NaN,NaN,NaN

In [8]:
import json

# Convert 'year' column to string to ensure it can be used as a JSON key
df_selected_clean['year'] = df_selected_clean['year'].astype(str)

# Set 'year' as index and convert to dictionary
json_dict = df_selected_clean.set_index('year').to_dict(orient='index')

with open('df_selected_clean_by_year.json', 'w', encoding='utf-8') as f:
    json.dump(json_dict, f, ensure_ascii=False, indent=2)

json_dict

{'2014': {'inflation': 1,
  'salary_increase': 1.03655,
  'avg_salary': 3783.46,
  'v_idx': 1.0206,
  'e_60': 261.4},
 '2015': {'inflation': 0.991,
  'salary_increase': 1.04011,
  'avg_salary': 3899.78,
  'v_idx': 1.0537,
  'e_60': 259.5},
 '2016': {'inflation': 0.994,
  'salary_increase': 1.04407,
  'avg_salary': 4047.21,
  'v_idx': 1.0637,
  'e_60': 263.2},
 '2017': {'inflation': 1.02,
  'salary_increase': 1.03473,
  'avg_salary': 4271.51,
  'v_idx': 1.0868,
  'e_60': 262.2},
 '2018': {'inflation': 1.016,
  'salary_increase': 1.05649,
  'avg_salary': 4585.03,
  'v_idx': 1.092,
  'e_60': 260.8},
 '2019': {'inflation': 1.023,
  'salary_increase': 1.04854,
  'avg_salary': 4918.17,
  'v_idx': 1.0894,
  'e_60': 261.5},
 '2020': {'inflation': 1.034,
  'salary_increase': 1.01614,
  'avg_salary': 5167.47,
  'v_idx': 1.0541,
  'e_60': 247.7},
 '2021': {'inflation': 1.051,
  'salary_increase': 1.04263,
  'avg_salary': 5662.53,
  'v_idx': 1.0933,
  'e_60': 238.9},
 '2022': {'inflation': 1.144,
  'salary_increase': 0.979656428501733,
  'avg_salary': 6346.15,
  'v_idx': 1.144,
  'e_60': 254.3},
 '2023': {'inflation': 1.114,
  'salary_increase': 1.012146198537,
  'avg_salary': 7155.48,
  'v_idx': 1.1487,
  'e_60': 264.2},
 '2024': {'inflation': 1.036,
  'salary_increase': 1.095,
  'avg_salary': 8181.72,
  'v_idx': 1.1441,
  'e_60': 262.8},
 '2025': {'inflation': 1.0503,
  'salary_increase': 1.0202,
  'avg_salary': 8766.84,
  'v_idx': 1.0739,
  'e_60': 264.7},
 '2026': {'inflation': 1.0305,
  'salary_increase': 1.0308,
  'avg_salary': 9312.48,
  'v_idx': 1.0661,
  'e_60': 266.6},
 '2027': {'inflation': 1.0262,
  'salary_increase': 1.0308,
  'avg_salary': 9850.81,
  'v_idx': 1.0573,
  'e_60': 268.5},
 '2028': {'inflation': 1.0252,
  'salary_increase': 1.0277,
  'avg_salary': 10378.79,
  'v_idx': 1.0519,
  'e_60': 270.4},
 '2029': {'inflation': 1.025,
  'salary_increase': 1.0271,
  'avg_salary': 10926.56,
  'v_idx': 1.0493,
  'e_60': 272.2},
 '2030': {'inflation': 1.025,
  'salary_increase': 1.0266,
  'avg_salary': 11497.64,
  'v_idx': 1.0472,
  'e_60': 274.1},
 '2031': {'inflation': 1.025,
  'salary_increase': 1.026,
  'avg_salary': 12091.49,
  'v_idx': 1.045,
  'e_60': 275.9},
 '2032': {'inflation': 1.025,
  'salary_increase': 1.0254,
  'avg_salary': 12708.58,
  'v_idx': 1.0432,
  'e_60': 277.8},
 '2033': {'inflation': 1.025,
  'salary_increase': 1.0249,
  'avg_salary': 13350.65,
  'v_idx': 1.0414,
  'e_60': 279.6},
 '2034': {'inflation': 1.025,
  'salary_increase': 1.0243,
  'avg_salary': 14016.95,
  'v_idx': 1.0412,
  'e_60': 281.5},
 '2035': {'inflation': 1.025,
  'salary_increase': 1.0237,
  'avg_salary': 14707.88,
  'v_idx': 1.041,
  'e_60': 283.3},
 '2036': {'inflation': 1.025,
  'salary_increase': 1.0232,
  'avg_salary': 15425.33,
  'v_idx': 1.0412,
  'e_60': 285.1},
 '2037': {'inflation': 1.025,
  'salary_increase': 1.0226,
  'avg_salary': 16168.29,
  'v_idx': 1.0411,
  'e_60': 286.9},
 '2038': {'inflation': 1.025,
  'salary_increase': 1.022,
  'avg_salary': 16937.09,
  'v_idx': 1.0404,
  'e_60': 288.7},
 '2039': {'inflation': 1.025,
  'salary_increase': 1.0215,
  'avg_salary': 17733.77,
  'v_idx': 1.0398,
  'e_60': 290.5},
 '2040': {'inflation': 1.025,
  'salary_increase': 1.0209,
  'avg_salary': 18557.02,
  'v_idx': 1.0391,
  'e_60': 292.3},
 '2041': {'inflation': 1.025,
  'salary_increase': 1.0203,
  'avg_salary': 19407.07,
  'v_idx': 1.0388,
  'e_60': 294.0},
 '2042': {'inflation': 1.025,
  'salary_increase': 1.0198,
  'avg_salary': 20286.11,
  'v_idx': 1.0361,
  'e_60': 295.8},
 '2043': {'inflation': 1.025,
  'salary_increase': 1.0198,
  'avg_salary': 21204.97,
  'v_idx': 1.033,
  'e_60': 297.5},
 '2044': {'inflation': 1.025,
  'salary_increase': 1.0195,
  'avg_salary': 22158.93,
  'v_idx': 1.0322,
  'e_60': 299.3},
 '2045': {'inflation': 1.025,
  'salary_increase': 1.0193,
  'avg_salary': 23151.26,
  'v_idx': 1.0327,
  'e_60': 301.0},
 '2046': {'inflation': 1.025,
  'salary_increase': 1.0191,
  'avg_salary': 24183.29,
  'v_idx': 1.0325,
  'e_60': 302.7},
 '2047': {'inflation': 1.025,
  'salary_increase': 1.0188,
  'avg_salary': 25253.88,
  'v_idx': 1.0325,
  'e_60': 304.4},
 '2048': {'inflation': 1.025,
  'salary_increase': 1.0186,
  'avg_salary': 26366.69,
  'v_idx': 1.0334,
  'e_60': 306.1},
 '2049': {'inflation': 1.025,
  'salary_increase': 1.0184,
  'avg_salary': 27523.13,
  'v_idx': 1.0331,
  'e_60': 307.8},
 '2050': {'inflation': 1.025,
  'salary_increase': 1.0182,
  'avg_salary': 28724.65,
  'v_idx': 1.0325,
  'e_60': 309.5},
 '2051': {'inflation': 1.025,
  'salary_increase': 1.0179,
  'avg_salary': 29969.79,
  'v_idx': 1.0321,
  'e_60': 311.1},
 '2052': {'inflation': 1.025,
  'salary_increase': 1.0177,
  'avg_salary': 31262.76,
  'v_idx': 1.0317,
  'e_60': 312.8},
 '2053': {'inflation': 1.025,
  'salary_increase': 1.0175,
  'avg_salary': 32605.1,
  'v_idx': 1.0317,
  'e_60': 314.4},
 '2054': {'inflation': 1.025,
  'salary_increase': 1.0173,
  'avg_salary': 33998.4,
  'v_idx': 1.0322,
  'e_60': 316.1},
 '2055': {'inflation': 1.025,
  'salary_increase': 1.0171,
  'avg_salary': 35444.27,
  'v_idx': 1.0328,
  'e_60': 317.7},
 '2056': {'inflation': 1.025,
  'salary_increase': 1.0168,
  'avg_salary': 36940.73,
  'v_idx': 1.0331,
  'e_60': 319.3},
 '2057': {'inflation': 1.025,
  'salary_increase': 1.0166,
  'avg_salary': 38492.79,
  'v_idx': 1.0331,
  'e_60': 320.9},
 '2058': {'inflation': 1.025,
  'salary_increase': 1.0164,
  'avg_salary': 40102.17,
  'v_idx': 1.0332,
  'e_60': 322.5},
 '2059': {'inflation': 1.025,
  'salary_increase': 1.0162,
  'avg_salary': 41770.62,
  'v_idx': 1.0336,
  'e_60': 324.0},
 '2060': {'inflation': 1.025,
  'salary_increase': 1.016,
  'avg_salary': 43499.92,
  'v_idx': 1.034,
  'e_60': 325.6},
 '2061': {'inflation': 1.025,
  'salary_increase': 1.0157,
  'avg_salary': 45287.44,
  'v_idx': 1.0343,
  'e_60': 327.2},
 '2062': {'inflation': 1.025,
  'salary_increase': 1.0155,
  'avg_salary': 47139.13,
  'v_idx': 1.0348,
  'e_60': 328.7},
 '2063': {'inflation': 1.025,
  'salary_increase': 1.0153,
  'avg_salary': 49056.87,
  'v_idx': 1.0352,
  'e_60': 330.2},
 '2064': {'inflation': 1.025,
  'salary_increase': 1.0151,
  'avg_salary': 51042.57,
  'v_idx': 1.0356,
  'e_60': 331.7},
 '2065': {'inflation': 1.025,
  'salary_increase': 1.0149,
  'avg_salary': 53098.18,
  'v_idx': 1.0359,
  'e_60': 333.2},
 '2066': {'inflation': 1.025,
  'salary_increase': 1.0147,
  'avg_salary': 55225.69,
  'v_idx': 1.036,
  'e_60': 334.7},
 '2067': {'inflation': 1.025,
  'salary_increase': 1.0144,
  'avg_salary': 57421.46,
  'v_idx': 1.0356,
  'e_60': 336.2},
 '2068': {'inflation': 1.025,
  'salary_increase': 1.0142,
  'avg_salary': 59692.77,
  'v_idx': 1.0352,
  'e_60': 337.7},
 '2069': {'inflation': 1.025,
  'salary_increase': 1.014,
  'avg_salary': 62041.68,
  'v_idx': 1.0348,
  'e_60': 339.1},
 '2070': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 64470.3,
  'v_idx': 1.0347,
  'e_60': 340.6},
 '2071': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 66993.99,
  'v_idx': 1.035,
  'e_60': 342.0},
 '2072': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 69616.47,
  'v_idx': 1.0354,
  'e_60': 343.4},
 '2073': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 72341.61,
  'v_idx': 1.0357,
  'e_60': 344.9},
 '2074': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 75173.42,
  'v_idx': 1.0357,
  'e_60': 346.3},
 '2075': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 78116.08,
  'v_idx': 1.0354,
  'e_60': 347.6},
 '2076': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 81173.93,
  'v_idx': 1.0349,
  'e_60': 349.0},
 '2077': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 84351.48,
  'v_idx': 1.0349,
  'e_60': 350.4},
 '2078': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 87653.42,
  'v_idx': 1.0349,
  'e_60': 351.7},
 '2079': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 91084.61,
  'v_idx': 1.0348,
  'e_60': 353.1},
 '2080': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 94650.12,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2081': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 98355.2,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2082': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 102205.31,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2083': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 106206.14,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2084': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 110363.58,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2085': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 114683.76,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2086': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 119173.06,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2087': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 123838.09,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2088': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 128685.73,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2089': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 133723.13,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2090': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 138957.72,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2091': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 144397.22,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2092': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 150049.65,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2093': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 155923.34,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2094': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 162026.96,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2095': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 168369.51,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2096': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 174960.33,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2097': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 181809.15,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2098': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 188926.07,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2099': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 196321.58,
  'v_idx': 1.0347,
  'e_60': 354.4},
 '2100': {'inflation': 1.025,
  'salary_increase': 1.0138,
  'avg_salary': 204006.59,
  'v_idx': 1.0347,
  'e_60': 354.4},
 'nan': {'inflation': nan,
  'salary_increase': nan,
  'avg_salary': nan,
  'v_idx': nan,
  'e_60': nan},
 '*)  inflacja w latach 2014-2024 z danych, realny wzrost przeciętnego wynagrodzenia w latach 2014-2024 wyliczony z danych; w latach 2025-2080 założenia makroekonomiczne otrzymane z Departamentu Polityki Makroekonomicznej Ministerstwa Finansów w październiku 2024 r., od 2081 r. na stałym poziomie z 2080 r.': {'inflation': nan,
  'salary_increase': nan,
  'avg_salary': nan,
  'v_idx': nan,
  'e_60': nan},
 '**)  w latach 2014-2024  - dane z komunikatów Prezesa Głównego Urzędu Statystycznego, od 2025 r. wyliczenia na podstawie założeń makroekonomicznych.': {'inflation': nan,
  'salary_increase': nan,
  'avg_salary': nan,
  'v_idx': nan,
  'e_60': nan},
 '***) Wskaźniki waloryzacji składek zewidencjonowanych na koncie:\n       - za lata 2014-2023 z obwieszczeń MPiPS, MRPiPS, \n       - za lata 2024-2080 - wskaźniki oszacowane w modelu prognostycznym FUS22\n      - od 2081 r. na stałym poziomie z 2080 r.': {'inflation': nan,
  'salary_increase': nan,
  'avg_salary': nan,
  'v_idx': nan,
  'e_60': nan},
 '****) Wskaźniki waloryzacji składek zewidencjonowanych na subkoncie:\n       - za lata 2014-2023 z komunikatów Prezesa GUS\n       - za lata 2024-2080 - wskaźniki oszacowane na podstawie założeń makroekonomicznych\n      - od 2081 r. na stałym poziomie z 2080 r.': {'inflation': nan,
  'salary_increase': nan,
  'avg_salary': nan,
  'v_idx': nan,
  'e_60': nan},
 '*****) Kwoty najniższej emerytury:\n       - do 2025 r. z danych,\n       - od 2026 r. oszacowane przy wykorzystaniu założeń makroekonomicznych': {'inflation': nan,
  'salary_increase': nan,
  'avg_salary': nan,
  'v_idx': nan,
  'e_60': nan}}

In [9]:
with open('json_dict_output.json', 'w', encoding='utf-8') as outfile:
    json.dump(json_dict, outfile, ensure_ascii=False, indent=2)